* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

img {
    max-width: 300px;
}

.part {
    justify-content: center;
    display: flex;
}

/* all code above shouldn't need to be changed */


/* You could change the colors to start with something more interesting :) */
.top {
    background-color: #cca2ee;
    align-content: flex-end;
}

.middle {
    background-color: #9b36c6;
}

.bottom {
    background-color: #551d71;
}
